body {
	background-color:#0E0E0E;
	text-align:center;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 13px;
  margin: 0px;
}

a, a:visited {
  color: #9D9D9D;
  text-decoration: none;
}

a:hover {
  color: #D9D9D9;
}

.pixelated {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

canvas {
  width: 1280px;
  height: 720px;
}

.controls {
  margin: 10px;
}

.title {
  text-align: center;
  margin: 20px;
}